# 레이블 인코딩(Label encoding)

In [9]:
from sklearn.preprocessing import LabelEncoder

items = ['TV', '냉장고','저자렌지','컴퓨터','선풍기','믹서','믹서', 'TV']

encoder = LabelEncoder()
encoder.fit(items)
labels = encoder.transform(items)    # 영어순 다음 한글 순서로 라벨링
labels

array([0, 1, 4, 5, 3, 2, 2, 0], dtype=int64)

In [10]:
encoder.classes_

array(['TV', '냉장고', '믹서', '선풍기', '저자렌지', '컴퓨터'], dtype='<U4')

In [11]:
encoder.inverse_transform([4,5,2,0,1,1,3,3])

array(['저자렌지', '컴퓨터', '믹서', 'TV', '냉장고', '냉장고', '선풍기', '선풍기'], dtype='<U4')

# 원-핫 인코딩(One-Hot encoding)

In [22]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

encoder = LabelEncoder()
encoder.fit(items)
labels = encoder.transform(items)
labels = labels.reshape(-1,1)
labels

array([[0],
       [1],
       [4],
       [5],
       [3],
       [2],
       [2],
       [0]], dtype=int64)

In [24]:
it = np.array(items).reshape(-1,1)
oh_encoder = OneHotEncoder()
oh_encoder.fit(it)
oh_labels = oh_encoder.transform(it)

oh_labels.toarray()

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.]])

In [25]:
oh_encoder = OneHotEncoder()
oh_encoder.fit(labels)
oh_labels = oh_encoder.transform(labels)

oh_labels.toarray()

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.]])

In [26]:
import pandas as pd

df = pd.DataFrame({'item':items})
df

   item
0    TV
1   냉장고
2  저자렌지
3   컴퓨터
4   선풍기
5    믹서
6    믹서
7    TV

In [27]:
# label encoding, one-hot encoding 한번에
pd.get_dummies(df)

   item_TV  item_냉장고  item_믹서  item_선풍기  item_저자렌지  item_컴퓨터
0        1         0        0         0          0         0
1        0         1        0         0          0         0
2        0         0        0         0          1         0
3        0         0        0         0          0         1
4        0         0        0         1          0         0
5        0         0        1         0          0         0
6        0         0        1         0          0         0
7        1         0        0         0          0         0

# 피처 스케일링과 정규화
**StandardScaler => 평균이 0, 분산이 1에 가깝게 만들어 준다.**

In [28]:
from sklearn.datasets import load_iris
import pandas as pd

# 북곷 데이터 셋을 로딩하고 DataFrame으로 변환합니다.
iris = load_iris()
iris_data = iris.data
iris_df = pd.DataFrame(data = iris_data, columns=iris.feature_names)

print(f'feature 들의 평균 값')
print(iris_df.mean())
print(f'\nfeature 들의 분산 값')
print(iris_df.var())

feature 들의 평균 값
sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

feature 들의 분산 값
sepal length (cm)    0.685694
sepal width (cm)     0.189979
petal length (cm)    3.116278
petal width (cm)     0.581006
dtype: float64

In [29]:
iris_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [30]:
iris_df.std() # 표준편차

sepal length (cm)    0.828066
sepal width (cm)     0.435866
petal length (cm)    1.765298
petal width (cm)     0.762238
dtype: float64

In [35]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)

iris_df_scaled = pd.DataFrame(data=iris_scaled, columns=iris.feature_names)

In [39]:
iris_df_scaled.mean()

sepal length (cm)   -1.690315e-15
sepal width (cm)    -1.842970e-15
petal length (cm)   -1.698641e-15
petal width (cm)    -1.409243e-15
dtype: float64

In [38]:
iris_df_scaled.var()

sepal length (cm)    1.006711
sepal width (cm)     1.006711
petal length (cm)    1.006711
petal width (cm)     1.006711
dtype: float64

**MinMaxScaler**

In [48]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)

iris_df_scaled = pd.DataFrame(data=iris_scaled, columns=iris.feature_names)

In [49]:
iris_df_scaled.min()

sepal length (cm)    0.0
sepal width (cm)     0.0
petal length (cm)    0.0
petal width (cm)     0.0
dtype: float64

In [51]:
iris_df_scaled.max()

sepal length (cm)    1.0
sepal width (cm)     1.0
petal length (cm)    1.0
petal width (cm)     1.0
dtype: float64